Source: sccstools
Maintainer: Thomas E. Dickey <dickey@invisible-island.net>
Section: devel
Priority: optional
Standards-Version: 4.6.1
Rules-Requires-Root: no
Build-Depends: debhelper (>= 5), tdlib-dev (>= 20230121), cssc
Homepage: https://invisible-island.net/ded/

Package: sccstools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SCCS utility programs
 These are utility programs which simplify the use of SCCS,
 and extend it by preserving timestamps of archived files.
 The package also includes an improved version of sccs2rcs.
